@import "_variables";
@import "_mixins";

* {
	box-sizing: border-box;
	margin: $ut-margin-all;	
}

.container {
	width: $ut-container-width;	
	@include margin-all($ut-container-margin-top, $ut-container-margin-right, $ut-container-margin-bottom, $ut-container-margin-left);
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.panel {
	
}

.panel .panel-cell {
	float: left;
	padding: 10px 10px;
}

.panel .panel-header {
	@include background-color($ut-panel-header-background-color);
	@include border-all($ut-panel-header-border-width, $ut-panel-header-border-style, $ut-panel-header-border-color);
	@include cursor($ut-panel-header-cursor);
}

.panel .panel-body {
	@include border-direction(left,$ut-panel-body-border-width, $ut-panel-body-border-style, $ut-panel-body-border-color);
	@include border-direction(right,$ut-panel-body-border-width, $ut-panel-body-border-style, $ut-panel-body-border-color);
	@include border-direction(bottom,$ut-panel-body-border-width, $ut-panel-body-border-style, $ut-panel-body-border-color);
}

.panelSlideUp {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
}

.panelSlideUp.ng-hide {
    height:0;
}


