@import "_variables";
@import "_mixins";
@import "_reset";

.container {
	width: $ut-container-width;	
	@include margin-all($ut-container-margin-top, $ut-container-margin-right, $ut-container-margin-bottom, $ut-container-margin-left);
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*ut panel conatiner - start*/
.ut-panel-container {
	background-color: rgba(229, 249, 255, 0.21);
	@include padding-all(10px, 10px, 10px, 10px);
}
/*ut panel container - end*/

/*ut panel header styles - start*/
.ut-panel-header {
	> .ut-panel-row {
		> .ut-panel-cell {
			float: left;
			@include padding-all(10px, 10px, 10px, 10px);
			font-size: 0.9375em;
		}
	} 
}
/*ut panel header styles - end*/

/*ut panels body styles - start*/
.ut-panel-body {
	margin-bottom: 10px;
	> .ut-panel-row {
		@include cursor($ut-panel-header-cursor);
		> .ut-panel-cell {
			float: left;
			@include padding-all(10px, 10px, 10px, 10px);
			font-size: 0.875em;
		}
	} 
}
/*ut panels body styles -end*/

/*ut panels expand body styles - start*/
.ut-panel-expand-body {
	transition: .5s linear all;
    height: 200px;
    overflow: hidden;
    @include padding-all(10px, 10px, 10px, 10px);
}

.ut-panel-expand-body.ng-hide {
    height:0;
}

/*ut panels expand body styles - end*/
