<!DOCTYPE html>
<html>
	<head ng-app="utApp">
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="static/css/style.css"/>	
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
	</head>
	<body ng-controller="utAppCtlr">
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="static/js/controllers.js"></script>
	</body>
</html>